<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lib.Properties.Settings.RaviArtConnectionString" connectionString="Data Source=DESKTOP-SNBPJID\SA;Initial Catalog=RaviArt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>