<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Lib.Properties.Settings.RaviArtConnectionString" connectionString="Data Source=DESKTOP-SNBPJID\SA;Initial Catalog=RaviArt;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="Lib.Properties.Settings.RaviArtConnectionString" connectionString="Data Source=204.93.193.254;Initial Catalog=RaviArts_DB;Persist Security Info=True;User ID=RaviArts_SqlUser;Password=RaviDB@145"/>-->
  </connectionStrings>
  <appSettings>
    <add key="SiteUrl" value="www.raviartknitters.in" />
    <add key="FromEmail" value="support@raviartknitters.in" />
    <add key="AdminEmail" value="kalpesh013@gmail.com" />
    <add key="CCEmail" value="kalpesh013@gmail.com" />
    <add key="BCCEmail" value="" />
    <add key="Shipping" value="50.00" />
    <add key="OrderPrefix" value="RA1001" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
  </system.web>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
</configuration>